body{
    margin: 0;
    padding: 0;
    background-image: url(/Assets/images/Background\ Gallery.jpg);

}

.main{
    width: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5)50%,rgba(0,0,0,0.5)50%);
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;
}

.icon{
    width: 200px;
    float: left;
    height: 70px;
}

nav ul{
    float: right;
    word-spacing: 20px;
    font-size: 30px;
}

nav li{
    display: inline-block;
    list-style: none;
    

}
nav li a{
    font-size: 20px;
    text-transform: uppercase;
    padding: 0px, 30px;
    color: #ff7200;
    text-decoration: none;
}

nav1 ul1{
    float: left;
    word-spacing: 70px;
    font-size: 30px;
}

nav1{
    width:50%;
    height: 75px;
    line-height: 75px;
    padding: 0px 100px;
    position: fixed;
    background-image: linear-gradient(#033747, #012733);

}
nav1 li1 a{
    font-size: 16px;
    text-transform: uppercase;
    padding: 0px, 30px;
    color: #ff7200;
    text-decoration: none;
}

h1{
    text-align: center;
    margin-top: 2%;
   }

   
   header{
   
   font-family: 'Dokdo', cursive;
   font-size: 30px;
   padding: 20px;
   }
   main{
         margin-left: 120px;
           width: 100%;
           margin-top: 40px;
   }
   .box{
    width: 20%;
    float: left;
    padding: 7px;
    padding-left: 10px;  
    display: block;
   
   }
   
   img{
    width: 75%;
       border-radius: 4px;
   
   }
   
   img:hover{
     transform: scale(1.3,1.3);
     transition: .3s transform;
   
   }
   